<a href="/movies">Home</a>

{{#with movieDetails}}

<h3>{{title}}</h3>
<p>Genre: {{genre}}</p>
<p>Plot: {{plot}}</p>

<p>Cast:</p>
<ul>
  {{#each cast}}
  <li>{{name}}</li>
  {{/each}}
</ul>

<a href="/movies/{{_id}}/edit">Edit movie</a>

{{/with}}