<h2>Movies</h2>
<a href=" /movies/new">Add new movie</a>

{{#each moviesList}}
<h2>Title: <a href="/movies/{{_id}}">{{title}}</a></h2>
<p>Genre: {{genre}}</p>
<p>Plot: {{plot}}</p>
<p>Cast:</p>
<ul>
  {{#each cast}}
  <li>{{name}}</li>
  {{/each}}

</ul>
{{/each}}




{{!-- <form action="/movies/{{_id}}/delete" method="POST">
    <button>Delete movie</button>
  </form> --}}