<h2>Movies</h2>
<br>
<a href=" /movies/new">Add new movie</a>

{{#each moviesList}}
<h2>Title: <a href="/movies/{{_id}}">{{title}}</a></h2>
<p>Genre: {{genre}}</p>
<p>Plot: {{plot}}</p>

<p>Cast:</p>
<ul>
  {{#each cast}}
  <li>{{name}}</li>
  {{/each}}
</ul>

<form action="/movies/{{_id}}" method="POST">
  <button>Delete movie</button>
</form>
<br>
{{/each}}